.cabecera{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.formulario{
  display: flex;
}
.movies{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 1rem;
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    
}